@typeparam Titem

@if (MyList is null)
{
    @if (Loading is null)
    {
        <div class="d-flex justify-content-center align-items-center">
            <img src="https://i.pinimg.com/originals/86/0e/6a/860e6ac4105b1365234bf836056effed.gif" />
        </div>
    }
    else
    {
        @Loading
    }
}
else if (MyList.Count == 0)
{
    @if (NoRecords is null)
    {
        <p>No hay registros para mostrar...</p>
    }
    else
    {
        @NoRecords
    }
}
else
{
    @Body
}

@code {
    [Parameter]
    public RenderFragment? Loading { get; set; }

    [Parameter]
    public RenderFragment? NoRecords { get; set; }

    [EditorRequired]
    [Parameter]
    public RenderFragment Body { get; set; } = null!;

    [EditorRequired]
    [Parameter]
    public List<Titem> MyList { get; set; } = null!;
}
